<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="form-group">
        <label class="form-label">Sr./a:</label>
        <input type="text" class="form-control" [(ngModel)]="client.name"
         (keypress)="allowOnlyText($event)"
        placeholder="Nombre del cliente">
      </div>
      <div class="form-group">
        <label class="form-label">Dirección:</label>
        <input type="text" class="form-control" [(ngModel)]="client.address"
        placeholder="Ingrese la dirección del cliente">
      </div>
      <div class="form-group">
        <label class="form-label">Teléfono:</label>
        <input type="tel" (input)="validarNumerosYGuiones($event)"  title="Solo se permiten números" class="form-control" [(ngModel)]="client.phone"
        placeholder="Teléfono del cliente">
      </div>
      <div class="form-group">
        <label class="form-label">Email:</label>
        <input type="email" 
        (input)="validarCorreo()"
        class="form-control" [(ngModel)]="client.email"
        placeholder="Email del cliente">
        <div *ngIf="client.email && error" class="alert alert-danger mt-2" style="font-size: 0.9em;">
          Ingrese un correo válido. Ejemplo: nombre@dominio.com
        </div>
      </div>
    </div>
  </div>
</div>