<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="form-group">
        <label class="form-label">Sr./a:</label>
        <input type="text" class="form-control" [(ngModel)]="client.name"
        placeholder="Nombre del cliente">
      </div>
      <div class="form-group">
        <label class="form-label">Dirección:</label>
        <input type="text" class="form-control" [(ngModel)]="client.address"
        placeholder="Dirección del cliente">
      </div>
      <div class="form-group">
        <label class="form-label">Teléfono:</label>
        <input type="tel" (input)="validarNumeros($event)"  title="Solo se permiten números" class="form-control" [(ngModel)]="client.phone"
        placeholder="Teléfono del cliente">
      </div>
      <div class="form-group">
        <label class="form-label">Email:</label>
        <input type="email" 
        (input)="validarCorreo()"
        class="form-control" [(ngModel)]="client.email"
        placeholder="Email del cliente">
        <p *ngIf="client.email && error" style="color: red;">Ingrese un correo válido.</p>
      </div>
    </div>
  </div>
</div>